results/
test_example/
newvenv/
experiments/
data/
dump/
datasets/
codes/models/modules/segmentation/ckpt/


codes/data/playervids_train_LR.lmdb
codes/data/playervids_train_HR.lmdb
codes/data/footballvids_train_LR_x8.lmdb
codes/data/footballvids_train_LR_x2.lmdb
codes/data/footballvids_train_LR.lmdb
codes/data/footballvids_train_HR_Unsharp.lmdb
codes/data/footballvids_train_HR_Laplacian.lmdb
codes/data/footballvids_train_HR.lmdb
codes/data/PlayerVids_train_keys.pkl
codes/data/FootballVids_train_keys_2.pkl
codes/data/FootballVids_train_keys.pkl


